<launch>
	
	<!-- LEGACY CODE -->
	<group ns="/">
		<!-- load platform parameters (needed for old Nessie code) -->
		<include file="$(find nessie_bringup)/launch/load_nessie5_params.launch" />

		<!-- start all the fundamental nodes (from old Nessie code) -->
		<node name="Pressure" pkg="keller_pressure" type="pressure" respawn="false"/>
		<node name="Compass" pkg="pni_compass" type="compass" respawn="false"/>
		<node name="DVL" pkg="teledyne_dvl" type="dvl" respawn="false"/>
        <!--<node name="GPS" pkg="gps" type="gps" respawn="false"/>-->
	</group>

    <!-- NEW NESSIE CODE -->
    <!-- they don't require to run in a namespace unless multi vehicle operation are need -->

    <!-- gyroscope is explicitly added or it can be used by including its launch file -->
    <include file="$(find kvh_gyroscope)/launch/kvh_gyro.launch" />

    <!-- GPS and NTPD time sync -->
    <include file="$(find vehicle_core)/launch/vehicle_gps.launch" />
    <include file="$(find vehicle_core)/launch/vehicle_ntpd.launch" />

    <!-- thruster drivers -->
    <include file="$(find thrusters_controller)/launch/driver.launch" />

    <!-- platform_monitor (provides indicators and basic measurements) -->
    <include file="$(find platform_monitor)/launch/platform_monitor.launch" />

</launch>
