<launch>

    <!-- default args -->
    <arg name="verbose" default="" />

    <!-- load the simulation config -->
    <rosparam command="load" file="$(find vehicle_core)/conf/pid_sim.yaml"/>
    <rosparam command="load" file="$(find vehicle_core)/conf/simulation_model.yaml"/>

    <!-- start the vehicle controller -->
    <node name="vehicle_pilot" pkg="vehicle_core" type="node_pilot.py" args="$(arg verbose)" output="screen">
        <!-- redirect output -->
        <param name="topic_output" value="thrusters/commands"/>
    </node>

</launch>