<launch>

    <!-- default args -->
    <arg name="use_gui" default="false" />
    <arg name="nav_verbose" default="false" />
    <arg name="pilot_verbose" default="false" />
    <arg name="ctrl_config" default="pid_sim.yaml" />
    <arg name="vehicle_urdf" default="cat $(find vehicle_core)/data/nessie.urdf" />

    <!-- includes -->
    <include file="$(find vehicle_core)/launch/nav_sim.launch">
        <arg name="verbose" value="$(arg nav_verbose)"/>
    </include>

    <include file="$(find vehicle_core)/launch/pilot.launch">
        <arg name="verbose" value="$(arg pilot_verbose)"/>
        <arg name="ctrl_config" value="$(arg ctrl_config)" />
    </include>

    <include file="$(find vehicle_core)/launch/path_controller.launch"/>

    <!-- rviz -->
    <group if="$(arg use_gui)">
        <include file="$(find vehicle_core)/launch/nav_visual.launch">
            <arg name="use_hmi" value="true"/>
            <arg name="vehicle_urdf" value="$(arg vehicle_urdf)" />
        </include>
    </group>

</launch>
