<launch>

    <!-- default args -->
    <arg name="use_gui" default="false" />
    <arg name="nav_verbose" default="false" />
    <arg name="pilot_verbose" default="false" />
    <arg name="ctrl_config" default="pid_sim.yaml" />

    <!-- robot #1 -->
    <group ns="nessie_a">
        <arg name="vehicle_urdf" value="$(find xacro)/xacro.py $(find vehicle_core)/data/nessie.urdf.xacro name:=nessie_a"/>

        <include file="$(find vehicle_core)/launch/nav_sim.launch">
            <arg name="verbose" value="$(arg nav_verbose)"/>
            <arg name="frame_child" default="nessie_a" />
        </include>

        <include file="$(find vehicle_core)/launch/pilot.launch">
            <arg name="verbose" value="$(arg pilot_verbose)"/>
            <arg name="ctrl_config" value="$(arg ctrl_config)" />
        </include>

        <include file="$(find vehicle_core)/launch/path_controller.launch"/>

        <!-- load the robot_description, used for rviz -->
        <param name="robot_description" command="$(arg vehicle_urdf)"/>
    </group>

    <!-- robot #2 -->
    <group ns="nessie_b">
        <arg name="vehicle_urdf" value="$(find xacro)/xacro.py $(find vehicle_core)/data/nessie.urdf.xacro name:=nessie_b"/>

        <include file="$(find vehicle_core)/launch/nav_sim.launch">
            <arg name="verbose" value="$(arg nav_verbose)"/>
            <arg name="frame_child" default="nessie_b" />
        </include>

        <include file="$(find vehicle_core)/launch/pilot.launch">
            <arg name="verbose" value="$(arg pilot_verbose)"/>
            <arg name="ctrl_config" value="$(arg ctrl_config)" />
        </include>

        <include file="$(find vehicle_core)/launch/path_controller.launch"/>

        <!-- load the robot_description, used for rviz -->
        <param name="robot_description" command="$(arg vehicle_urdf)"/>
    </group>

    <node pkg="rosservice" type="rosservice" name="nav_offset" args="call --wait /nessie_b/nav/offset '[0.0, 2.0, 0.0, 0.0, 0.0, 0.0]'"/>

    <!-- rviz -->
    <group if="$(arg use_gui)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vehicle_core)/conf/nav_multi.rviz"/>
    </group>

    <!-- uwsim -->
    <!--<include file="$(find osl_uwsim_scenario)/launch/uwsim_multi.launch"/>-->

</launch>
