<launch>
    <!-- this launch file starts the vehicle_pilot and the thruster_wrapper to inject faults in a running system -->

    <!-- default args -->
    <arg name="verbose" default="false" />
    <arg name="simulation" default="false" />
    <arg name="topic_output" default="thrusters/request" />

    <!-- start vehicle pilot -->
    <group if="$(arg simulation)">
        <include file="$(find vehicle_core)/launch/pilot_sim.launch">
            <arg name="verbose" default="$(arg verbose)" />
            <arg name="topic_output" default="$(arg topic_output)" />
        </include>
    </group>

    <group unless="$(arg simulation)">
        <include file="$(find vehicle_core)/launch/pilot_real.launch">
            <arg name="verbose" default="$(arg verbose)" />
            <arg name="topic_output" default="$(arg topic_output)" />
        </include>
    </group>

    <!-- start thruster wrapper -->
    <node name="thruster_wrapper" pkg="vehicle_core" type="node_thruster_wrapper.py" output="screen">
        <!-- set topics input and outputs -->
        <param name="req_input" value="thrusters/request"/>
        <param name="req_output" value="thrusters/commands"/>

        <param name="feed_input" value="thrusters/status"/>
        <param name="feed_output" value="thrusters/feedback"/>
    </node>

</launch>